.all {
  padding: 5rem;
  background: var(--color-seven);
}

.form {
  background: #fff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.heading {
  border-bottom: 1px solid #a5a5a5;
  width: 60%;
  text-align: center;
  margin-bottom: 3rem;
}

.customer {
  display: flex;
  width: 60%;
  justify-content: space-around;
  border-bottom: 1px solid #a5a5a5;
}

.customer__heading {
  color: #495d69;
}

.customer__info {
  display: flex;
  flex-direction: column;
}

.customer__input {
  margin-bottom: 2rem;
  margin-bottom: 2rem;
  border-radius: 6px;
  border: none;

  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: 1px solid var(--color-secondary);
  /* background: #cfeaf3; */
  padding: 0.5rem 1rem;
}

.product {
  margin-top: 3rem;
  display: flex;
  width: 60%;
  justify-content: space-around;
  /* border-bottom: 1px solid #a5a5a5; */
}

.product__nameContainer {
  margin-left: 3rem;
}

.product__radio {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.product__name {
  width: 18rem;
}
.product__nameBtn {
  background: transparent;
  border: 1px solid;
  border-radius: 3px;
  margin-left: 0.6rem;
}

.product__heading {
  color: #495d69;
}

.product__info {
  display: flex;
  flex-direction: column;
}

.product__input {
  align-self: flex-end;
  margin-bottom: 2rem;
  margin-bottom: 2rem;
  border-radius: 6px;
  border: none;

  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: 1px solid var(--color-secondary);
  /* background: #cfeaf3; */
  padding: 0.5rem 1rem;
}

.product__date {
  margin-left: 3rem;
}

.btn {
  padding: 0.5rem 4rem;
  background: #67a8d8;
  border: none;
  color: white;
  font-weight: 700;
  border-radius: 100px;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #3482bb;
}
