.header{
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.header label{
    margin-right: 1rem;
}
/* .header button{
    width: 2rem;
    height: 2rem;
    
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    margin-right: 0.5rem;
    
} */

.customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }  
.customers td, .customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
.customers tr:nth-child(even){background-color: #f2f2f2;}
  
.customers tr:hover {background-color: #ddd;}
  
.customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #6A994E;
    color: white;
}

.results{
    background: #4c7434;
    color: white;
    font-weight: bold;
}
.print{
    cursor: pointer;
}
.print span{
    color: #6A994E;
}

.heading {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  .heading__title {
    color: #333333;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
  }
  .date button{
    padding: 0px 3px;
    border: 1px solid black;
  }
  .date button:hover{
    color: white;
    background-color: #6A994E;
  }