Checkbox.module.css .checkboxContainer {
  margin-bottom: 1rem;
}

.checkboxLabel {
  display: flex;
  align-items: center;
}

.checkboxInput {
  display: none;
}

.checkboxCustom {
  width: 1.8rem;
  height: 1.8rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  margin-right: 0.8rem;
}

.checkboxInput:checked + .checkboxCustom {
  background-color: #007bff;
}

.checkboxText {
  font-size: 1.4rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 1rem;
}

.row {
  display: flex;
  gap: 0.8rem;
  font-weight: bold;
}
