.all {
  -webkit-animation: tilt-in-left-2 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: tilt-in-left-2 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  -webkit-animation: fade-in-tr 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-tr 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;

  -webkit-animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;

  min-height: 87vh;
}

.header {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
  background: #eee;
  border-radius: 5px;
  align-items: center;
}
.header .date {
  display: flex;
  gap: 0.7rem;
  /* align-items: center; */
  justify-content: center;
}
.date span {
  color: #198dc1;
}
.header label {
  margin-right: 1rem;
}
.ring {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 1rem;
}
.ring button {
  color: white;
  border: none;
  background: #04aa6d;
  padding: 0.2rem 1.5rem;
  border-radius: 5px;
  &:hover {
    background-color: #04774d;
  }
}

.ring .spn:hover {
  cursor: pointer;
}

.customers {
  /* font-family: Arial, Helvetica, sans-serif; */
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
}
.customers td,
.customers th {
  border: 1px solid #ddd;
  padding: 0.8rem;
}

.customers tr:nth-child(even) {
  /* background-color: #f2f2f2; */
}

.customers tr:hover {
  background-color: #ddd;
}

.customers th {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  text-align: left;
  /* background-color: #04aa6d; */
  /* background-color: var(--color-primary-2); */
  background-color: #198dc1;
  color: white;
  font-weight: 800;
}
.print {
  cursor: pointer;
}
.print span {
  color: var(--color-primary-light);
}

.btns button {
  background: transparent;
  border: 1px solid var(--color-primary-light);
  padding: 0.5rem;
  margin-right: 0.5rem;
  &:hover {
    /* background-color: #04aa6d; Primary color */
    background-color: var(--color-primary-light);
    color: #fff; /* Text color on hover */
  }
}

.hoverElement {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.hoverElement:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.tooltip::before {
  content: "";
  position: absolute;
  top: -0.8rem;
  left: 50%;
  transform: translateX(-50%);
  border-top: 0.8rem solid #333;
  border-left: 0.8rem solid transparent;
  border-right: 0.8rem solid transparent;
}

.tooltipText {
  font-size: 1.4rem;
}

@-webkit-keyframes tilt-in-left-2 {
  0% {
    -webkit-transform: rotateX(30deg) translateX(-300px) skewX(30deg);
    transform: rotateX(30deg) translateX(-300px) skewX(30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
    transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-left-2 {
  0% {
    -webkit-transform: rotateX(30deg) translateX(-300px) skewX(30deg);
    transform: rotateX(30deg) translateX(-300px) skewX(30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
    transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-tr {
  0% {
    -webkit-transform: translateX(50px) translateY(-50px);
    transform: translateX(50px) translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-tr {
  0% {
    -webkit-transform: translateX(50px) translateY(-50px);
    transform: translateX(50px) translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
