.form {
  width: 97%;
  /* max-width: 400px; */
  /* margin-top: 1rem; */
  /* margin-left: 6px; */
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
  font-size: 1.6rem;

  animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.heading {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 0 3rem;

  @media (max-width: 1000px) {
    margin-top: 2rem;
  }
}
.info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  column-gap: 4rem;
  /* display: flex; */
  /* gap: 20%; */
  width: 100%;
  padding-left: 4rem;
  justify-content: center;
  /* margin-bottom: 3rem; */

  @media (max-width: 600px) {
    padding-left: 1rem;
  }
}

.formGroup {
  margin-bottom: 2rem;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.lbl {
  margin-right: 0.5rem;
  /* font-weight: bold; */
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.input {
  width: 80%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-right: 1rem;
  height: 4.5rem;
}

.radioGroup {
  display: flex;
  margin-top: 0.5rem;
}

.radioButton {
  margin-right: 1rem;
}

.textarea {
  width: 96%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  min-height: 9rem;
}

.button {
  padding: 1rem 2rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 35%;
}

.button:hover {
  background-color: #0056b3;
}
.lnk {
  font-size: 2.5rem;
  cursor: pointer;
  /* color: #1871cd; */
}

.btns {
  width: 66%;
  display: flex;
  justify-content: center;
  @media (max-width: 600px) {
    width: 100%;
    gap: 2rem;
  }
}

.btn {
  border: 1px solid black;
}

.priceContainer {
  width: 97%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.paidContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.dateType {
  width: 89%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.note {
  width: 100%;
  padding-left: 4rem;
  @media (max-width: 600px) {
    padding-left: 1rem;
  }
}
.cncl:hover {
  background-color: #dfdfdf;
}

@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
