.row {
  margin-bottom: 1.2rem;
}

.row label {
  display: block;
  font-weight: bold;
}

.row textarea {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 13rem;
  width: 40rem;
}

.button {
  padding: 1rem 2rem;
  background-color: #1976d2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
}

.button:hover {
  background-color: #0056b3;
}

.addBtn {
  background: teal;
  width: 5rem;
  padding: 0.3rem 0.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.addBtn:hover {
  background-color: rgb(3, 78, 78);
}
.customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.customers td,
.customers th {
  border: 1px solid #ddd;
  padding: 0.8rem;
}

.customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

.customers tr:hover {
  background-color: #ddd;
}

.customers th {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  text-align: left;
  background-color: #1976d2;
  color: white;
}
