@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-family: 'Noto Sans JP', sans-serif; */
  font-family: "Arial";
}

body {
  margin: 0;
  /* background-color: #3f3f3f; */
}

button{
  cursor: pointer;
}
@media print{
  .no-print{
      display: none;
  }
  .noPrint{
    display: none;
  }
}

.btnOutlined{
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  /* Primary color */
  /* border: 2px solid #1976d2;  */
  border: 0;
  border-radius: 4px;
  color: #04AA6D; /* Primary color */
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  /* Hover state */
  &:hover {
    background-color: #04AA6D; /* Primary color */
    color: #fff; /* Text color on hover */
  }

}

.spn:hover{
  cursor: pointer;
}

.heading{
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  /* gap: 1rem; */
  color: blue;
  justify-content: space-between;
}
.heading__title{
  color: #333333;
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  
}
.heading .title{
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.heading .spn{
  font-weight: bold;
}